// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$abt-me-name: 'abt_me';
$abt-me-x: 0px;
$abt-me-y: 110px;
$abt-me-offset-x: 0px;
$abt-me-offset-y: -110px;
$abt-me-width: 16px;
$abt-me-height: 18px;
$abt-me-total-width: 148px;
$abt-me-total-height: 422px;
$abt-me-image: 'sprite.png';
$abt-me: (0px, 110px, 0px, -110px, 16px, 18px, 148px, 422px, 'sprite.png', 'abt_me', );
$abt-me-alw-name: 'abt_me_alw';
$abt-me-alw-x: 0px;
$abt-me-alw-y: 128px;
$abt-me-alw-offset-x: 0px;
$abt-me-alw-offset-y: -128px;
$abt-me-alw-width: 16px;
$abt-me-alw-height: 18px;
$abt-me-alw-total-width: 148px;
$abt-me-alw-total-height: 422px;
$abt-me-alw-image: 'sprite.png';
$abt-me-alw: (0px, 128px, 0px, -128px, 16px, 18px, 148px, 422px, 'sprite.png', 'abt_me_alw', );
$career-name: 'career';
$career-x: 0px;
$career-y: 146px;
$career-offset-x: 0px;
$career-offset-y: -146px;
$career-width: 17px;
$career-height: 18px;
$career-total-width: 148px;
$career-total-height: 422px;
$career-image: 'sprite.png';
$career: (0px, 146px, 0px, -146px, 17px, 18px, 148px, 422px, 'sprite.png', 'career', );
$career-alw-name: 'career_alw';
$career-alw-x: 0px;
$career-alw-y: 92px;
$career-alw-offset-x: 0px;
$career-alw-offset-y: -92px;
$career-alw-width: 17px;
$career-alw-height: 18px;
$career-alw-total-width: 148px;
$career-alw-total-height: 422px;
$career-alw-image: 'sprite.png';
$career-alw: (0px, 92px, 0px, -92px, 17px, 18px, 148px, 422px, 'sprite.png', 'career_alw', );
$dwnld-arrow-name: 'dwnld_arrow';
$dwnld-arrow-x: 0px;
$dwnld-arrow-y: 0px;
$dwnld-arrow-offset-x: 0px;
$dwnld-arrow-offset-y: 0px;
$dwnld-arrow-width: 14px;
$dwnld-arrow-height: 14px;
$dwnld-arrow-total-width: 148px;
$dwnld-arrow-total-height: 422px;
$dwnld-arrow-image: 'sprite.png';
$dwnld-arrow: (0px, 0px, 0px, 0px, 14px, 14px, 148px, 422px, 'sprite.png', 'dwnld_arrow', );
$email-name: 'email';
$email-x: 0px;
$email-y: 14px;
$email-offset-x: 0px;
$email-offset-y: -14px;
$email-width: 19px;
$email-height: 15px;
$email-total-width: 148px;
$email-total-height: 422px;
$email-image: 'sprite.png';
$email: (0px, 14px, 0px, -14px, 19px, 15px, 148px, 422px, 'sprite.png', 'email', );
$fb-name: 'fb';
$fb-x: 0px;
$fb-y: 194px;
$fb-offset-x: 0px;
$fb-offset-y: -194px;
$fb-width: 31px;
$fb-height: 30px;
$fb-total-width: 148px;
$fb-total-height: 422px;
$fb-image: 'sprite.png';
$fb: (0px, 194px, 0px, -194px, 31px, 30px, 148px, 422px, 'sprite.png', 'fb', );
$fb-alw-name: 'fb_alw';
$fb-alw-x: 0px;
$fb-alw-y: 164px;
$fb-alw-offset-x: 0px;
$fb-alw-offset-y: -164px;
$fb-alw-width: 31px;
$fb-alw-height: 30px;
$fb-alw-total-width: 148px;
$fb-alw-total-height: 422px;
$fb-alw-image: 'sprite.png';
$fb-alw: (0px, 164px, 0px, -164px, 31px, 30px, 148px, 422px, 'sprite.png', 'fb_alw', );
$phone-name: 'phone';
$phone-x: 0px;
$phone-y: 59px;
$phone-offset-x: 0px;
$phone-offset-y: -59px;
$phone-width: 15px;
$phone-height: 16px;
$phone-total-width: 148px;
$phone-total-height: 422px;
$phone-image: 'sprite.png';
$phone: (0px, 59px, 0px, -59px, 15px, 16px, 148px, 422px, 'sprite.png', 'phone', );
$portfolio-name: 'portfolio';
$portfolio-x: 0px;
$portfolio-y: 44px;
$portfolio-offset-x: 0px;
$portfolio-offset-y: -44px;
$portfolio-width: 18px;
$portfolio-height: 15px;
$portfolio-total-width: 148px;
$portfolio-total-height: 422px;
$portfolio-image: 'sprite.png';
$portfolio: (0px, 44px, 0px, -44px, 18px, 15px, 148px, 422px, 'sprite.png', 'portfolio', );
$portfolio-alw-name: 'portfolio_alw';
$portfolio-alw-x: 0px;
$portfolio-alw-y: 29px;
$portfolio-alw-offset-x: 0px;
$portfolio-alw-offset-y: -29px;
$portfolio-alw-width: 18px;
$portfolio-alw-height: 15px;
$portfolio-alw-total-width: 148px;
$portfolio-alw-total-height: 422px;
$portfolio-alw-image: 'sprite.png';
$portfolio-alw: (0px, 29px, 0px, -29px, 18px, 15px, 148px, 422px, 'sprite.png', 'portfolio_alw', );
$skype-name: 'skype';
$skype-x: 0px;
$skype-y: 75px;
$skype-offset-x: 0px;
$skype-offset-y: -75px;
$skype-width: 16px;
$skype-height: 17px;
$skype-total-width: 148px;
$skype-total-height: 422px;
$skype-image: 'sprite.png';
$skype: (0px, 75px, 0px, -75px, 16px, 17px, 148px, 422px, 'sprite.png', 'skype', );
$sotials-sprite-name: 'sotials_sprite';
$sotials-sprite-x: 0px;
$sotials-sprite-y: 344px;
$sotials-sprite-offset-x: 0px;
$sotials-sprite-offset-y: -344px;
$sotials-sprite-width: 148px;
$sotials-sprite-height: 78px;
$sotials-sprite-total-width: 148px;
$sotials-sprite-total-height: 422px;
$sotials-sprite-image: 'sprite.png';
$sotials-sprite: (0px, 344px, 0px, -344px, 148px, 78px, 148px, 422px, 'sprite.png', 'sotials_sprite', );
$tw-name: 'tw';
$tw-x: 0px;
$tw-y: 224px;
$tw-offset-x: 0px;
$tw-offset-y: -224px;
$tw-width: 31px;
$tw-height: 30px;
$tw-total-width: 148px;
$tw-total-height: 422px;
$tw-image: 'sprite.png';
$tw: (0px, 224px, 0px, -224px, 31px, 30px, 148px, 422px, 'sprite.png', 'tw', );
$tw-alw-name: 'tw_alw';
$tw-alw-x: 0px;
$tw-alw-y: 254px;
$tw-alw-offset-x: 0px;
$tw-alw-offset-y: -254px;
$tw-alw-width: 31px;
$tw-alw-height: 30px;
$tw-alw-total-width: 148px;
$tw-alw-total-height: 422px;
$tw-alw-image: 'sprite.png';
$tw-alw: (0px, 254px, 0px, -254px, 31px, 30px, 148px, 422px, 'sprite.png', 'tw_alw', );
$vk-name: 'vk';
$vk-x: 0px;
$vk-y: 284px;
$vk-offset-x: 0px;
$vk-offset-y: -284px;
$vk-width: 32px;
$vk-height: 30px;
$vk-total-width: 148px;
$vk-total-height: 422px;
$vk-image: 'sprite.png';
$vk: (0px, 284px, 0px, -284px, 32px, 30px, 148px, 422px, 'sprite.png', 'vk', );
$vk-alw-name: 'vk_alw';
$vk-alw-x: 0px;
$vk-alw-y: 314px;
$vk-alw-offset-x: 0px;
$vk-alw-offset-y: -314px;
$vk-alw-width: 32px;
$vk-alw-height: 30px;
$vk-alw-total-width: 148px;
$vk-alw-total-height: 422px;
$vk-alw-image: 'sprite.png';
$vk-alw: (0px, 314px, 0px, -314px, 32px, 30px, 148px, 422px, 'sprite.png', 'vk_alw', );
$spritesheet-width: 148px;
$spritesheet-height: 422px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($abt-me, $abt-me-alw, $career, $career-alw, $dwnld-arrow, $email, $fb, $fb-alw, $phone, $portfolio, $portfolio-alw, $skype, $sotials-sprite, $tw, $tw-alw, $vk, $vk-alw, );
$spritesheet: (148px, 422px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
